.css-15wfblr-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}

.css-1x9gn3w-MuiButtonBase-root-MuiIconButton-root{
color: #8C45FF !important;
}

.css-1pyfj8b-MuiStack-root {
  width: 100% !important;
  justify-content: center !important;
}
.ParentSideBarNav {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
}
.css-1d9cypr-MuiStack-root {
  display: none !important;
}
.SideBarNavLogoandName img{
  height: 40px;
  width: 45px;
  mix-blend-mode: exclusion;
}
.SideBarNavLogoandName{
  display: flex;
  gap: 10px;
}
.side-icon{
height: 30px !important;
width: 30px !important;  
color: #8C45FF !important;
}
