.css-15wfblr-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}
.css-1pyfj8b-MuiStack-root {
  width: 100% !important;
  justify-content: center !important;
}
.ParentSideBarNav {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
}
/* .css-feb0vu-MuiTypography-root{
    content: "Madaras Academy" !important;
}
.css-1qsfemz {
    display: none;
} */
.css-1d9cypr-MuiStack-root {
  display: none !important;
}
