* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.box1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 23%;
    gap: 15px;
    margin-top: 20px;
}


.box1 h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.84px;
}

.box1 p {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.002px;
}

.avatar {
    display: none;
}

.box2 {
    display: flex;
    gap: 30px;
    justify-content: center;
}


/* rgba(140, 69, 255, 0.50) */
.ellipse {
    width: 312px;
    height: 234px;
    border-radius: 312px;
    background: rgba(140, 69, 255, 0.50) ;
    filter: blur(127px);
    position: absolute;
    margin: 0px 150px;
}

.client-review {
    display: flex;
    width: 22%;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-left: -29%;

}
.image-container{
position: relative;    
}


.clienttext {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.002px;
}

.clientname {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.002px;
}

.clientrole {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.001px;
}
/*
@media only screen and (max-width: 600px) {

    .box1 {
        width: 80%;
    }

    .box1 h1 {
        font-size: 36px;

    }

    .box1 p {
        font-size: 14px;
    }


    .box2 {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .image-container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .avatar {
        display: block;
    }

    .square-image {
        display: none;

    }

    .client-review {
        margin-left: 0px;
        width: 80%;
        gap: 7px;
    }

    .ellipse {
        display: none;
    }

    .clienttext{
        font-size: 15px;
        font-weight: 400;
    }

    .clientname {
        font-size: 12px;
    }

    .clientrole {
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {

    .box1 {
        width: 80%;
    }

    .box1 h1 {
        font-size: 36px;

    }

    .box1 p {
        font-size: 14px;
    }


    .box2 {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .avatar {
        display: block;
    }

    .square-image {
        display: none;

    }

    .client-review {
        margin-left: 0px;
        width: 80%;
        gap: 7px;
    }

    .ellipse {

      width: 300px;
      position: relative;
    }

    .clienttext {
        font-size: 15px;
        font-weight: 400;
    }

    .clientname {
        font-size: 12px;
    }

    .clientrole {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {

    .box1 {
        width: 60%;
    }

    .box1 h1 {
        font-size: 41px;

    }

    .box1 p {
        font-size: 20px;
    }

    .client-review {
        width: 60%;
    }

    .clienttext {
        font-size: 18px;
        font-weight: 400;
    }

    .clientname {
        font-size: 15px;
    }

    .clientrole {
        font-size: 14px;
    }

}

@media only screen and (min-width: 992px) {
    .box1 {
        width: 42%;
    }

    .avatar {
        display: none;
    }

    .image-container {
        width: 80%;
    }

    .square-image {
        display: block;
        width: 100%;
    }

    .box2 {
        flex-direction: row;
    }

    .client-review {
        display: flex;
        width: 40%;
        gap: 10px;
        margin-left: -45%;
    }


}

@media only screen and (min-width: 1300px) {
    .box1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap: 15px;

    }


}

@media only screen and (min-width: 1400px) {
    .box1 {
        width: 23%;
        gap: 15px;
    }

    .box2 {
        gap: 30px;
    }

    .clienttext {
        font-size: 24px;
        font-weight: 400;
        width: 362px;
    }

} */