.importanttoread {
  color: white;
  background: #000000; /* Base black background */

  background: radial-gradient(
    40% 40% at 50% 60%,
    rgba(152, 85, 255, 0) 0%,
    rgba(152, 85, 255, 0.22) 50%,
    #020103 100%
  );
  
}
.LineCardContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.LineCardContainerMainTitleDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}
.LineCardContainerMainTitle {
  font-size: 56px !important;
  font-weight: 500 !important;
  line-height: 65px !important; /* 116.071% */
  letter-spacing: -0.84px !important;
  text-align: center;
}
.importanttoreadcardContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 230px;
}
.LineCardContainerMainDesc {
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 31px !important;
  letter-spacing: -0.002px !important;
}
.importanttoreadLinePic {
  position: absolute;
  z-index: 0;
  height: 100%;
}
.importanttoreadCard {
  width: 527.062px;
  border-radius: 24px;
  background: var(
    --LBG1,
    linear-gradient(107deg, #190d2e 0.54%, #020103 99.46%)
  );
  display: flex;
  width: 527.062px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.uaatest {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: left;
  gap: 155px;
  align-items: center;
}
.uaatest:nth-child(even) {
  justify-content: right;
  flex-direction: row-reverse;
  gap: 155px;
}
.uaatest:nth-child(2) {
  gap: 190px;
}

.LineCardContainerMainPic {
  position: absolute;
  height: 83%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.importanttoreadCardPicDiv {
  border-radius: 12px;
  border: 1px solid var(--Grey-15, #262626);
  background: linear-gradient(
    131deg,
    rgba(158, 255, 0, 0.2) -66.81%,
    rgba(158, 255, 0, 0) 37.19%
  );
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.importanttoreadCardtitle {
  font-size: 32px !important;
  font-weight: 500 !important;
  line-height: 140% !important;
  background: linear-gradient(270deg, #00b3d7 0%, #be94ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  /* margin: 0 0 20px 0; */
}
.importanttoreadCarddescription {
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 130% !important;
}
.importanttoreadCardContentText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.importanttoreadCardnumberDiv {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  border: 2px solid #9855ff;
  align-items: center;
}
.importanttoreadCardnumber {
  font-size: 32px !important;
  background: linear-gradient(270deg, #00b3d7 0%, #be94ff 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
